{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">DJANGO APP</h1>
        <p class="text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab magni enim praesentium fugiat minus aspernatur obcaecati beatae inventore maxime? Consequatur exercitationem eum ad maiores, quo sunt cum at minima a in corrupti nobis architecto quidem sequi esse error provident, similique fugit odit quasi beatae, nostrum numquam quas aliquam. Impedit, minima deserunt iusto magnam, necessitatibus explicabo fugit sunt nostrum quod at nihil quam possimus ullam accusamus eius omnis qui eos molestiae aut consectetur sed id. Laborum, id qui ipsa asperiores unde sit. Adipisci, facilis reprehenderit quasi magni optio totam ad dignissimos, ut sit velit animi similique explicabo praesentium commodi, fuga repudiandae.</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">signin</a>
            <a class="btn btn-dark" href="/signup/">signup</a>

        </div>
    </section>
</main>

{% endblock %}